
->

  <section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
  
      <div class="section-title">
        <h2>Réinitialiser du mot de passe</h2>
        <p class="text-center">Veuillez saisir votre adresse e-mail pour demander une réinitialisation du mot de passe.</p>
         
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()"    method="post" role="form" class="php-email-form">
            <div class="row">
                <div class="col form-group">
                    <input type="email"
                        class="form-control"
                        name="email"
                        id="email"
                        placeholder="email"
                        [(ngModel)]="emailUser"
                        formControlName="emailUser"
                        [ngClass]="{ 'is-invalid': submitted && f.emailUser.errors }">
                        <div *ngIf="submitted && f.emailUser.errors" class="invalid-feedback">
                                <div *ngIf="f.emailUser.errors.required"> votre email   </div>
                                <div *ngIf="f.emailUser.errors.email">votre email est invalid</div>
                        </div>
                </div>
            </div>
            <div class="text-center"><button type="submit">Renvoyer </button></div>
            

            <div class="p-3"></div>
            <div class="row">
              <div class="col form-group">
                <a routerLink="/Connexion" class="pull-right">Revenir à la page connexion? Connexion</a>
              </div>
            </div>
           
        </form>    
      
  
      </div>
  </div>
  </section>
