<section id="about" class="about section-bg">
  <div class="container" data-aos="fade-up">

    <div class="row no-gutters">
      <div class="content col-xl-5 d-flex align-items-stretch">
        <div class="content">
          <h3>Ensemble, Construisons un Avenir Meilleur</h3>
          <p>
            Née de la volonté de citoyens engagés, désireux d'apporter leur pierre à
            l'édifice d'un monde meilleur. Nous œuvrons dans divers domaines tels
            que l'aide aux  développement rurale, la protection de l'environnement,
            l'éducation pour tous, et le soutien aux innovations sociales et solidaires.
            Chaque action que nous menons est guidée par des valeurs de partage,
            d'entraide et de respect mutuel.
          </p>
          <a routerLink="/Team" class="about-btn">A propos de nous <i class="bx bx-chevron-right"></i></a>
        </div>
      </div>
      <div class="col-xl-7 d-flex align-items-stretch">
        <div class="icon-boxes d-flex flex-column justify-content-center">

       
          <div class="row">
          <div class="col-md-6">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <i class="bx bx-receipt"></i>
              <h4>Financement</h4>
                 <p>Promouvoir et développer diverses activités culturelles, éducatives, sociales et sportives</p>
                 <p>Permettre l’intégration des personnes</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <i class="bx bx-cube-alt"></i>
             <h4>Coopération...</h4>
              <p>Agir sur le terrain en faveur du développement durable et de la coopération internationale</p>
              <p>Favoriser l'aventure culturelle et les rencontres interculturelles au niveau local et national</p>
            </div>
          </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <i class="bx bx-images"></i>
          <h4>Rencontre</h4>
          <p>Permettre à la communauté d’Irsmouken résident à l’étranger de mieux se connaitre et se rencontrer à travers les activités organisées</p>
          <p>Assurer le lien entre les habitants et les autorités pour défendre leurs intérêts en toutes circonstances</p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <i class="bx bx-shield"></i>
          <h4>Solidarité</h4>
          <p>
            Visant à soutenir les individus et familles en situation de précarité.
          </p>
        </div>
      </div>
     
    </div>
 
        </div><!-- End .content-->
      </div>
    </div>

  </div>
</section><!-- End About Section -->
<router-outlet></router-outlet>
