<section id="services" class="services section-bg ">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>Services</h2>
      <p>
        Mise en place de services  ( financement, transport, infrastructure, educatif)
        dans le but est de promouvoir le développement des la région de Resmouka
      </p>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
          <i class="bi bi-briefcase"></i>
          <h4><a href="#">Financement</a></h4>
          <p>
          Trouver le financement nécessaire  afin de réaliser les projets nécessaire pour
            le développement de la région de Resmouka
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <i class="bi bi-card-checklist"></i>
          <h4><a href="#">Transport</a></h4>
          <p>
            Assurer le transport scolaire pour les enfants de la région
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <i class="bi bi-bar-chart"></i>
          <h4><a href="#">Infrasctructure</a></h4>
          <p>
             Monter des projet de contruction des écoles coranique, réhabilitation des  mosques, routes

          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <i class="bi bi-binoculars"></i>
          <h4><a href="#">Educatifs</a></h4>
          <p>
            Assurer la scolarité des enfants de la région, en apportant le matérial nécessaire

          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="500">
          <i class="bi bi-brightness-high"></i>
          <h4><a href="#">Développement durable</a></h4>
          <p>
            Agir pour le développement durable, c'est choisir de respecter
            et de protéger notre environment, d'assurer une coexistence
            équitable entre tous ses habitants et de garantir les ressources
            nécessaires aux générations
            futures pour qu'elles puissent vivre dans un environnement sain et prospère
          </p>
        </div>
      </div>
      <div class="col-md-6 mt-4 mt-md-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="600">
          <i class="bi bi-calendar4-week"></i>
          <h4><a href="#">Evénement</a></h4>
          <p>
            Réaliser des événements comme la soirée annuels ou la semaines des Irsmouken de France

          </p>
        </div>
      </div>
    </div>

  </div>
</section><!-- End Services Section -->
