
<header id="header" class="fixed-top d-flex align-items-center">

   
  
  <div class="container d-flex align-items-center">
  
    <nav class="navbar navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img src="../assets/img/Logo.jpeg" height="100" alt="">
      </a>
    </nav>
    <h6 class="logo me-auto h6"><a href="index.html">Association Espoir du Sud Imazalen Irsmouken<span></span></a></h6>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index_2.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
  
          <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
              <div class="navbar-nav">
                 <a routerLink="/Event" class="nav-item nav-link active">Actualité</a>
                  <a routerLink="/Services" class="nav-item nav-link active">Services</a>
                  <div class="row" *ngIf="authService.userData as user">
                     <a routerLink="/Photos" class="nav-item nav-link">Photo</a>
                  </div>
                  <a routerLink="/Team" class="nav-item nav-link">Team</a>
                  <a routerLink="/Accueil" class="nav-item nav-link">Qui sommes nous</a>
                  <li class="dropdown"><a href="#"><span>Démocration & droits</span> <i class="bi bi-chevron-down"></i></a>
                    <ul>
                      <li><a routerLink="/AccesDroits">Accès aux droits</a></li>
                      <li><a routerLink="/Democraties">Démocration Local</a></li>
                    </ul>
                  </li>
                  <a routerLink="/Team" class="nav-item nav-link">Contact</a>
        
                  
              </div>
              <div class="navbar-nav ms-auto">
                  <a routerLink="/Connexion" class="nav-item nav-link">Connexion</a>
                  <button  *ngIf="authService.userData as user" type="button" class="btn btnPrimary" (click)="authService.SignOut()">
                    <a   class="nav-item nav-link"> DéConnexion</a>
                 </button>
              </div>
          </div>
      </div>
  </nav>
    
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>

