
<header id="header" class="fixed-top d-flex align-items-center">
  <div class="container d-flex align-items-center">
    <h6 class="logo me-auto h6"><a href="index.html">Association Espoir du Sud Imazalen Irsmouken<span></span></a></h6>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index_2.html" class="logo me-auto"><img src="assets/img/logo.png" alt=""></a>-->

    <nav id="navbar" class="navbar order-last order-lg-0">
      <ul>

        <li><a  class="nav-link scrollto"  routerLink="/Event"  >Actualité</a></li>
        <li><a class="nav-link scrollto" routerLink="/About">Mission</a></li>
        <li><a class="nav-link scrollto" routerLink="/Services">Services</a></li>
        <li><a class="nav-link scrollto "  routerLink="/Photos">Photo</a></li>
        <li><a class="nav-link scrollto" routerLink="/Team">Team</a></li>
        <li><a class="nav-link scrollto active" routerLink="/Accueil">A propos de nous</a></li>
        <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>
          <ul>
            <li><a href="#">Drop Down 1</a></li>
            <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>
              <ul>
                <li><a href="#">Deep Drop Down 1</a></li>
                <li><a href="#">Deep Drop Down 2</a></li>
                <li><a href="#">Deep Drop Down 3</a></li>
                <li><a href="#">Deep Drop Down 4</a></li>
                <li><a href="#">Deep Drop Down 5</a></li>
              </ul>
            </li>
            <li><a href="#">Drop Down 2</a></li>
            <li><a href="#">Drop Down 3</a></li>
            <li><a href="#">Drop Down 4</a></li>
          </ul>
        </li>
        <li><a class="nav-link scrollto" routerLink="/Contact">Contact</a></li>
        <li><a class="nav-link scrollto" routerLink="/Connexion">Connexion</a></li>
      </ul>

    </nav><!-- .navbar -->
    <app-modal></app-modal>
  </div>
</header>
<router-outlet></router-outlet>
<app-footer></app-footer>

